@use '../../styles' as *;
@use 'sass:map';

.button {
  position: relative;
  transition: $transition-smooth;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: $border-radius-full;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &.small {
    width: map.get($sizes, small, 'height');
    height: map.get($sizes, small, 'height');
  }

  &.medium {
    width: map.get($sizes, medium, 'height');
    height: map.get($sizes, medium, 'height');
  }

  &.large {
    width: map.get($sizes, large, 'height');
    height: map.get($sizes, large, 'height');
  }
}

.baseLayer {
  @include base-layer;
}

.lampBase {
  @include lamp-base;

  .small & {
    inset: map.get($sizes, small, 'inset');
  }

  .medium & {
    inset: map.get($sizes, medium, 'inset');
  }

  .large & {
    inset: map.get($sizes, large, 'inset');
  }
}

.lampSurface {
  @include lamp-surface;
  border-radius: $border-radius-full;

  .small & {
    inset: map.get($sizes, small, 'inset');
  }

  .medium & {
    inset: map.get($sizes, medium, 'inset');
  }

  .large & {
    inset: map.get($sizes, large, 'inset');
  }

  &.green {
    @include apply-variant(green);
    @include apply-glow(green);
  }

  &.yellow {
    @include apply-variant(yellow);
    @include apply-glow(yellow);
  }

  &.gray {
    @include apply-variant(gray);
    @include apply-glow(gray);
  }

  &.red {
    @include apply-variant(red);
    @include apply-glow(red);
  }

  &.disabled {
    @include apply-variant(disabled);
    @include frosted-inner;
  }
}

.icon {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
  margin-top: 1px;
}
