@use '../../styles' as *;
@use 'sass:map';

.tabs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabList {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: $border-radius-full;
  background: $base-layer-gradient;
  box-shadow: $shadow-base;
  padding: 4.5px;
  overflow: hidden;
}

.tabButton {
  position: relative;
  transition: $transition-smooth;
  cursor: pointer;
  border: none;
  outline: none;
  flex: 1;
  background: transparent;

  &:focus {
    outline: none;
  }

  &:hover:not(.active) {
    .lampSurface {
      background: rgba(151, 151, 151, 0.05);
    }
  }

  &:first-child {
    border-radius: $border-radius-full 0 0 $border-radius-full;
  }

  &:last-child {
    border-radius: 0 $border-radius-full $border-radius-full 0;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  &:only-child {
    border-radius: $border-radius-full;
  }

  min-width: 80px;
  height: map.get($sizes, small, 'height');

  &.active {
    z-index: 2;
  }
}

.baseLayer {
  display: none;
}

.lampBase {
  display: none;
}

.lampSurface {
  position: absolute;
  inset: 0;
  transition: $transition-smooth;
  z-index: 1;
  background: radial-gradient(circle at 50% 50%, rgb(28, 28, 28) 0%, #252322 100%);
  box-shadow: $shadow-frosted-inner-subtle;

  .tabButton:first-child & {
    border-radius: $border-radius-full 0 0 $border-radius-full;
  }

  .tabButton:last-child & {
    border-radius: 0 $border-radius-full $border-radius-full 0;
  }

  .tabButton:not(:first-child):not(:last-child) & {
    border-radius: 0;
  }

  .tabButton:only-child & {
    border-radius: $border-radius-full;
  }

  &.green {
    &.active {
      background: radial-gradient(circle at 50% 50%, #47f57d 7%, #6fce8c 74%);
      box-shadow: $shadow-frosted-inner, 0 0 8px 2px rgba(71, 245, 125, 0.3),
        0 0 12px 0px rgba(71, 245, 125, 0.4);
    }
  }

  &.yellow {
    &.active {
      background: radial-gradient(circle at 50% 50%, #ffbd30 21%, #bea571 79%);
      box-shadow: $shadow-frosted-inner, 0 0 8px 2px rgba(254, 182, 28, 0.3),
        0 0 12px 0px rgba(254, 182, 28, 0.4);
    }
  }

  &.gray {
    &.active {
      background: linear-gradient(180deg, #f2f2f2 0%, #bbae90 100%);
      box-shadow: $shadow-frosted-inner, 0 0 8px 2px rgba(242, 242, 242, 0.3),
        0 0 12px 0px rgba(242, 242, 242, 0.4);
    }
  }

  &.red {
    &.active {
      background: radial-gradient(circle at 50% 50%, #ff5050 39%, #f99696 100%);
      box-shadow: $shadow-frosted-inner, 0 0 8px 2px rgba(255, 80, 80, 0.3),
        0 0 12px 0px rgba(255, 80, 80, 0.4);
    }
  }
}

.tabText {
  pointer-events: none;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1;
  color: rgba(255, 255, 255, 0.4);
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.8));

  font-size: 10px;

  .active & {
    color: white;
    filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.9))
      drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5))
      drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
  }

  .gray.active & {
    color: rgb(41 37 36);
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5))
      drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
  }
}

.tabContent {
  flex: 1;
  min-height: 200px;
}
