@use 'sass:map';
@use './variables' as *;

@function get-size-inset($size) {
  $size-map: map.get($sizes, $size);
  @return map.get($size-map, 'inset');
}

@function get-size-height($size) {
  $size-map: map.get($sizes, $size);
  @return map.get($size-map, 'height');
}

@function get-size-padding($size) {
  $size-map: map.get($sizes, $size);
  @return map.get($size-map, 'padding');
}

@function get-variant-gradient($variant) {
  $variant-map: map.get($variants, $variant);
  @return map.get($variant-map, 'gradient');
}

@function get-variant-glow($variant) {
  $variant-map: map.get($variants, $variant);
  @return map.get($variant-map, 'glow');
}






