/* Frosted inner shadows (applies to all glowing elements) */
.frosted-inner {
  box-shadow: inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px
    rgba(255, 255, 255, 0.6);
}

/* Disabled state (no glow) */
.glow-disabled {
  box-shadow: inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px
    rgba(255, 255, 255, 0.6) !important;
}

/* Green glow */
.glow-green {
  box-shadow: inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px
    rgba(255, 255, 255, 0.6);
}

.glow-green:hover {
  box-shadow:
    inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px rgba(
      255,
      255,
      255,
      0.6
    ), 0 0 10px 2px rgba(71, 245, 125, 0.4), 0 0 20px 0px rgba(
      71,
      245,
      125,
      0.6
    ) !important;
}

/* Yellow glow */
.glow-yellow {
  box-shadow: inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px
    rgba(255, 255, 255, 0.6);
}

.glow-yellow:hover {
  box-shadow:
    inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px rgba(
      255,
      255,
      255,
      0.6
    ), 0 0 10px 2px rgba(254, 182, 28, 0.4), 0 0 20px 0px rgba(
      254,
      182,
      28,
      0.6
    ) !important;
}

/* Gray glow */
.glow-gray {
  box-shadow: inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px
    rgba(255, 255, 255, 0.6);
}

.glow-gray:hover {
  box-shadow:
    inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px rgba(
      255,
      255,
      255,
      0.6
    ), 0 0 10px 2px rgba(242, 242, 242, 0.4), 0 0 20px 0px rgba(
      242,
      242,
      242,
      0.6
    ) !important;
}

/* Red glow */
.glow-red {
  box-shadow: inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px
    rgba(255, 255, 255, 0.6);
}

.glow-red:hover {
  box-shadow:
    inset 5px 2px 5px 2px rgba(0, 0, 0, 0.2), inset -1px 3px 6px 1px rgba(
      255,
      255,
      255,
      0.6
    ), 0 0 10px 2px rgba(255, 80, 80, 0.4), 0 0 20px 0px rgba(255, 80, 80, 0.6) !important;
}
